@CHARSET "ISO-8859-1";

#canvasContainer {
	padding: 5px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	min-width: 1024px;
	height: 100vh;
	min-height: 900px;
}

canvas {
   display: inline;

}

.jumbotron+.container {
	text-align: justify;
	width: 100%;
}

.jumbotron {
	width: 100%;
	min-width: 1024px;
	padding: 0;
}

.jumbotron p {
	font-size: 80% !important;
}
.container>h1 {
	text-align: center;
}

li {
	font-size: 100%;
}

#tunneling-wiki {
	width: 100%;
}

p.img-text{
	text-align: right;
	font-size: 60% !important;
}

.checkbox-group {
	text-align: left;
}

#btn-container {
	width: 920px;
}

.form-control {
	text-align: right;
}
