@CHARSET "ISO-8859-1";

#canvasContainer {
	padding: 5px;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	min-width: 1024px;
	height: 100vh;
	min-height: 900px;
}

canvas {
   display: inline;

}

.jumbotron+.container {
	width: 100%;
	text-align: center;
	min-width: 1024px;
}

.container>h1 {
	text-align: center;
}

li {
	font-size: 125%;
}

#tunneling-wiki {
	width: 100%;
}

p.img-text{
	text-align: right;
	font-size: 90%;
}